<!--This file is part of the DirCleaner project.
Copyright (c) 2023-2099 WBZ, Reinach, Switzerland
Authors: Andreas Theis
This program is offered under the AGPL license.
AGPL licensing:
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details
(https://www.gnu.org/licenses/agpl-3.0.html).
You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net481" />
  <package id="itext7" version="7.2.5" targetFramework="net481" />
  <package id="itext7.commons" version="7.2.5" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net481" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>